.register-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.register-box-child {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-direction: row;
  width: 50%;
  gap: 0px 5px;
}
